{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Model Form</h1>

    {% if data %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Roll</th>
            <th scope="col">Student's Name</th>
            <th scope="col">Father's Name</th>
            <th scope="col">Address</th>
            <th scope="col">NewFieled</th>
          </tr>
        </thead>
        <tbody>
          {% for st in data %}
            <tr>
              <th scope="row">{{ st.roll }}</th>
              <td>{{ st.name }}</td>
              <td>{{ st.fathersName }}</td>
              <td>{{ st.address }}</td>
              <td>{{ st.my_field }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h1>No data available</h1>
    {% endif %}
  </div>
{% endblock %}
